.button {
    display: flex;
    height: 70px;
    padding: 0;
    background: #05742e;
    border:none ;
    outline: none;
    border-radius:50%;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
    margin: auto;
  }
  
  .button:hover {
    background: #008168;
  }
  
  .button:active {
    background: #006e58;
  }
  
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 95%;
  }
  
  .button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }

  .button-edit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button-edit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 95%;
  min-height: 50vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
}

.list {
  position: relative;
  min-width: 80%;
  padding: 10px;
  background: #05742e;
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.1);
}

.list::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 20px);
  height: 100%;
  background: #fff;
}

.list h3 {
  position: relative;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-left: 70px;
}

.list .list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.list .list-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #05742e;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.list .list-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.list .list-item .image-box {
  position: relative;
  min-width: 70px;
  height: 70px;
  background: #fff;
  overflow: hidden;
  border: 6px solid #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-left: 10px;
}

.list .list-item .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list .list-item .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #333;
}

.list .list-item .content .rank {
  position: absolute;
  right: 0;
  font-size: 2rem;
  color: #fff;
  transform: scale(0);
  transition: 0.5s;
}

.list .list-item .content .rank small {
  font-weight: 500;
  opacity: 0.5;
}

.list .list-item:hover .content .rank {
  transform: scale(1);
}

.list .list-item .content h4 {
  font-weight: 600;
  line-height: 1.2rem;
  text-transform: uppercase;
  transition: 0.5s;
}

.list .list-item .content p {
  opacity: 0.8;
  transition: 0.5s;
}

.list .list-item:hover .content h4,
.list .list-item:hover .content p {
  color: #fff;
}

.graos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.graos li {
  display: flex;
}

.grao-botao {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 2.8em;
  width: 10em;
}

.delete-grao {
  height: 2.8em;
  width: 6em;
}

.fazenda-tabela {
  align-items: center;
  width: 6em;
}

.graos button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.graos button:active {
  background-color: #525252;
  color: #fafafa;
}

.graos button.selected {
  background-color: black;
  color: white;
}

.graos button.selected:hover {
  background-color: #505050;
  color: white;
}

.graos button.selected:active {
  background-color: black;
  color: white;
}

.graos .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.graos .name {
  align-self: center;
}