<app-sidenav></app-sidenav>
<app-template-body [title]="titulo">

  <div class="fundo-tabela">
    <h2 class="titulo" style="text-align: center">Lista de Grãos</h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nome do Grão</th>
          <th scope="col">Fazenda</th>
          <th scope="col">Colheita</th>
          <th scope="col">Deletar</th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <tr *ngFor="let grao of graosObjetos">
          <td>
            <button class="grao-botao" [class.selected]="grao === selectedGrao" type="button" (click)="onSelect(grao)">
              <span class="badge">{{grao.id}}</span>
              <span class="name">{{grao.nome}}</span>
            </button>
          </td>
          <td class="dado-grao">{{ grao.fazenda }}</td>
          <td class="dado-grao">{{ grao.colheita }}</td>
          <td>
            <button class="delete-grao" (click)="SpecificDelete(grao)">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
    
  </div>

  <div id="form-editar" *ngIf="selectedGrao && mostrar == true" class="fundo-tabela">
    <h2>{{selectedGrao.nome | uppercase}}</h2>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Fazenda</th>
          <th scope="col">Salvar</th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <tr>
          <td>
            <div>id: {{selectedGrao.id}}</div>
          </td>
          <td>
            <input id="grao-name" [(ngModel)]="selectedGrao.nome" placeholder="name">
          </td>
          <td>
            <input id="grao-fazenda" [(ngModel)]="selectedGrao.fazenda" placeholder="fazenda">
          </td>
          <td>
            <button class="delete-grao" (click)="storeGrao()">Salvar</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
  </div>
  
  <button (click)="btnClick()" type="button" class="button">
    <span class="button__text">+</span>
  </button>
  <!-- <button (click)="deleteGraos()" type="button" class="button-deletatudo">
    <span class="button__text">Deletar Todos</span>
  </button> -->
</app-template-body>