<section class="login-page">
  <div class="container-login">
    <img src="./assets/logo-devinhouse.png" alt="Logo Dev In House" />
    <h3>Dev-Agro</h3>
    <p>Entre com seu login e senha</p>
    <form>
      <label>
        <input type="email" placeholder="E-mail" required />
      </label>
      <label>
        <input type="password" placeholder="Senha" required />
      </label>

      <button>Log In</button>
    </form>

    <span>Usuário ou senha incorreta!</span>
    <div class="sign-new-account">
      <span>Sua empresa não possui conta?</span>
      <a href="#">Crie agora!</a>
    </div>
  </div>
</section>
