

button {
  font-size: 18px;
  background: #375f24;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  border-radius: 8px;
  margin-top: 2rem;
  height: 5rem;
  width: 35em;
  vertical-align: middle;
}

button:hover {
  background-color: #4caf50;
}
