<app-sidenav></app-sidenav>

<app-template-body>

  <h1>Fazendas</h1>

  <div class="fundo-tabela">
    <h2 class="titulo" style="text-align: center">Propriedades cadastradas</h2>

    <table class="table table-hover">

      <thead>
        <tr>
          <th scope="col">Nome da propriedade</th>
          <th scope="col">Previsão de coleita</th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <tr *ngFor="let fazenda of listaFazenda">
          <td>{{fazenda.nome}}</td>
          <td>{{fazenda.ultima_colheita}}</td>
        </tr>
      </tbody>

      <tfoot>
        <tr></tr>
      </tfoot>

    </table> 

  </div>

  <div class="col text-center">
    <p></p>
    <a routerLink="/admin/fazendas/cadastro"><button type="button" class="btn btn-success btn-lg btn-block mx-auto">CADASTRAR NOVA FAZENDA</button></a>
  </div>

</app-template-body>