<app-sidenav></app-sidenav>
<app-template-body>

  <h1>Funcionarios</h1>

  <div class="quadro">

    <p></p>
    <h2 class="descricao">NOME</h2>
    <input type="text" placeholder="Nome" class="entrada_texto" id="NOME" >

    <p></p>
    <h2 class="descricao">FAZENDA</h2>
    <input type="text" placeholder="seleciona a fazenda" class="entrada_texto" id="FAZENDA">

    <p></p>
    <h2 class="descricao">CPF</h2>
    <input type="number" placeholder="CPF" class="entrada_texto" id="CPF">

    <p></p>
    <h2 class="descricao">TELEFONE</h2>
    <input type="number" placeholder="Telefone" class="entrada_texto" id="TELEFONE">

    <p></p>
    <h2 class="descricao">FUNÇÃO PRINCIPAL</h2>
    <input type="Função principal"  placeholder="Função principal" class="entrada_texto" id="FUNÇÃO PRINCIPAL"> 

    <p></p>
    <h2 class="descricao">ATIVO</h2>
    <label class="switch">
      <input type="checkbox" id="ATIVO">
      <span class="slider round"></span>
    </label>

    <p></p>
  </div>

  <button>cadastrar</button>

</app-template-body>


  
</app-template-body>