<app-sidenav></app-sidenav>

<app-template-body>

    <h1>Grãos</h1>

    <div class="borda">
      <br>  
      <h2 class="formulario">NOME</h2>
      <input type="text" placeholder="  Nome" class="input" #NOME (keyup)=mudar_nome(NOME.value)>
  
      <br><br>
      <h2 class="formulario">Fazenda que Produz</h2>
      <input type="text" placeholder="  seleciona a fazenda" class="input" #FAZENDA  (keyup)=mudar_fazenda(FAZENDA.value) >>
  
      <br><br>
      <h2 class="formulario">Previsão de Colheita</h2>
      <input type="date" placeholder="  Previsão de Colheita" class="input" #colheita (keyup)=mudar_colheita(colheita.value)>> 
  
     <br><br>
      <h2 class="formulario">Informações adicionais</h2>
      <input type="text" placeholder="  Informações adicionais" class="input" #informacoes (keyup)=mudar_informacoes(informacoes.value)>>
 
      <p></p><br>
      <h3>FOTO</h3>
      
      <button><input type="file" placeholder="Foto"></button>
       
    </div>

    <div class="cadastrar">
    <br>
  <button (click)=click_cadastrar()>cadastrar</button>

</div>

</app-template-body>