img {
  display: flex;
  max-width: 40px;
}

.sidenav {
  background: var(--main-green-color);
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 6rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 var(--grey);
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;
}

.logo-container .logo {
  background: var(--white);
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}

.logo-container .logo-text {
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.logo-container .btn-close{
  margin-left: 30px;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.logo-container .btn-close .fa-times {
  color: var(--white);
  font-size: 24px;
}

.sidenav-collapsed {
  width: 16rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}

.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
  border-radius: 0.625rem;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--white);
  text-decoration: none;
  transition: color .3s ease;
}

.sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}

.sidenav-link-text {
  margin-left: 1.5rem;
}

.sidenav-nav-item:hover {
  background: var(--grey);
}
